body {
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url('../../assets/images/cover-image.jpg');
  background-size: cover cover;
}

.wrapper {
  padding: 0 5%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.header {
  padding-top: 1.5%;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
}

.main {
  margin-top: 35%;
  display: flex;
  justify-content: space-between;
}

.buttonsContainer {
  margin-top: 6%;
  width: 21%;
  display: flex;
  justify-content: space-between;
}
