.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
}
