.wrapper {
  background: #fff;
  text-align: center;
  padding: 2%;
}

.header {
  text-transform: uppercase;
  color: #47c3f0;
  font-size: 32px;
}

.text {
  padding: 1%;
  font-size: 18px;
  color: #A7AAAB;
}
