.trailerButton {
  background: #3bb3df;
  color: #fff;
  border-radius: 50%;
  border: 0;
  width: 65px;
  height: 65px;
  font-size: 40px;
  outline: 0;
  line-height: 65px;
  cursor: pointer;
}

.trailerButton:active {
  transform: translateY(2px);
}

i {
  margin-left: 7px;
}
